#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <scroll-snap.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mac {
            bindings = <
&none  &none                &none         &none         &none        &none                                                          &none        &none  &none      &none    &none                        &none
&none  &kp Q                &kp W         &kp E         &kp R        &kp T                                                          &kp Y        &kp U  &kp I      &kp O    &kp P                        &none
&none  &mt RIGHT_CONTROL A  &kp S         &kp D         &kp F        &kp G          &none                    &none                  &kp H        &kp J  &kp K      &kp L    &mt RIGHT_CONTROL SEMICOLON  &none
&none  &mt LEFT_SHIFT Z     &kp X         &kp C         &kp V        &kp B          &kp TAB                  &kp ESCAPE             &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH        &none
&none  &kp LCTRL            &kp LEFT_ALT  &kp LEFT_GUI  &lt 2 SPACE  &kp BACKSPACE  &mt LEFT_GUI LANGUAGE_2  &mt RSHIFT LANGUAGE_1  &lt 3 SPACE  &none  &none      &mo 6    &lt 6 ENTER                  &none
            >;
        };

        Win {
            bindings = <
&trans  &trans  &trans        &trans        &trans  &trans                                   &trans  &trans  &trans  &trans  &trans       &trans
&trans  &trans  &trans        &trans        &trans  &trans                                   &trans  &trans  &trans  &trans  &trans       &trans
&trans  &trans  &trans        &trans        &trans  &trans  &trans                   &trans  &trans  &trans  &trans  &trans  &trans       &trans
&trans  &trans  &trans        &trans        &trans  &trans  &trans                   &trans  &trans  &trans  &trans  &trans  &trans       &trans
&trans  &trans  &kp LEFT_GUI  &kp LEFT_ALT  &trans  &trans  &mt LEFT_ALT LANGUAGE_2  &trans  &trans  &trans  &trans  &mo 7   &lt 7 ENTER  &trans
            >;
        };

        Number {
            bindings = <
&trans  &trans                &trans            &trans      &trans      &trans                           &trans          &trans         &trans            &trans             &trans         &trans
&trans  &kp LS(NUMBER_1)      &kp LS(NUMBER_2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                       &kp LS(N6)      &kp LS(N7)     &kp LS(N8)        &kp LS(N9)         &kp LS(N0)     &trans
&trans  &mt RIGHT_CONTROL N1  &kp N2            &kp N3      &kp N4      &kp N5      &trans       &trans  &kp LEFT_BRACE  &kp MINUS      &kp EQUAL         &kp RIGHT_BRACE    &kp COLON      &trans
&trans  &mt LEFT_SHIFT N6     &kp N7            &kp N8      &kp N9      &kp N0      &kp LA(TAB)  &trans  &kp LS(MINUS)   &kp LS(EQUAL)  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans
&trans  &trans                &trans            &trans      &trans      &trans      &trans       &trans  &trans          &trans         &trans            &trans             &trans         &trans
            >;
        };

        Function {
            bindings = <
&trans  &trans                &trans   &trans        &trans        &trans                               &trans            &trans    &trans        &trans     &trans         &trans
&trans  &kp F1                &kp F2   &kp F3        &kp F4        &kp F5                               &kp HOME          &kp HOME  &kp UP_ARROW  &kp END    &kp PAGE_UP    &trans
&trans  &mt RIGHT_CONTROL F6  &kp F7   &kp F8        &kp F9        &kp F10        &trans        &trans  &kp BACKSPACE     &kp LEFT  &kp DOWN      &kp RIGHT  &kp PAGE_DOWN  &trans
&trans  &mt LEFT_SHIFT F11    &kp F12  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_SEL 3  &trans  &kp SINGLE_QUOTE  &kp DQT   &kp GRAVE     &kp TILDE  &kp PIPE       &trans
&trans  &trans                &trans   &trans        &kp LC(LEFT)  &kp LC(RIGHT)  &bt BT_SEL 4  &trans  &trans            &trans    &trans        &tog 1     &trans         &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans     &trans     &trans     &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans     &trans     &trans     &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans     &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans     &trans    &trans
            >;
        };

        Mouse_Scroll_Mac {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Mouse_Scroll_Win {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};

/ {
    zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        require-prior-idle-ms = <500>;
        excluded-positions = <
            // L size layout indices
            46 47 48 49 50
            // M size layout indices
            32 33 34 35 36
            // S size layout indices
            27 28 29 30 31
            // Local un-offset right half indices (just in case)
            39 40 41 42 43
        >;
    };
};

&mt {
    tapping-term-ms = <200>; /* 200ミリ秒以上長押しでHold判定 */
    flavor = "balanced"; /* balanc他のキーと被っても、200ms以内に離せばTap優位 */
};

&pointing_listener {
    input-processors =
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&zip_temp_layer 5 5000>,
        <&zip_xy_scaler 40 100>;

    scroll_mac {
        layers = <6>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>,
            /* Mac用のスクロール方向（Y軸反転なしで調整テスト） */,
            <&zip_xy_scaler 2 100>,
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_snap>;
    };

    scroll_win {
        layers = <7>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>,
            /* Win用のスクロール方向 */,
            <&zip_xy_scaler 20 100>,
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_snap>;
    };
};
